body {
  font-size: "1rem";
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    270deg,
    rgb(255, 255, 255) 0%,
    rgb(175, 175, 175) 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3 {
  font-family: "Bebas Neue";
  font-size: 3rem;
  padding: 0;
  margin: 0;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1rem;
}

table,
th,
td {
  border-collapse: collapse;
  border: "1px solid #eeeeee";
}
* {
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}
